* {
  scroll-behavior: smooth; }

.wrapper {
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: #597dae; }

.container {
  max-width: 87.70833vw;
  width: 100%;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

@media all and (max-width: 1024px) {
  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); } }

.header-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%; }

@media all and (max-width: 1024px) {
  .header-background img {
    object-position: 50%; } }

.header-text {
  position: relative;
  z-index: 2; }

.header-menu-icon img:hover {
  filter: saturate(300%); }

.contacts-block-flex-item img:hover {
  filter: saturate(300%); }

.fixed-header {
  overflow: hidden; }

@media all and (max-width: 1024px) {
  .fixed-header {
    height: auto !important;
    position: relative;
    background-size: cover !important; }
  .about-block {
    padding-top: 0 !important; } }

.header {
  font-size: 0.83333vw;
  color: #2B3D4B;
  font-weight: 500;
  line-height: 0.98958vw; }

@media all and (max-width: 1024px) {
  .header {
    font-size: 16px;
    line-height: 19px; } }

.header-menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  transition: all .3s ease; }

.header-menu-mobile:not(.isOpened) {
  background: transparent;
  pointer-events: none; }

.header-menu-mobile-in {
  height: 100%;
  width: 16.66667vw;
  background: #D9D9D9;
  transform: translateX(-100%);
  transition: all .3s ease; }

@media all and (max-width: 1024px) {
  .header-menu-mobile-in {
    width: 320px; } }

.header-menu-mobile.isOpened .header-menu-mobile-in {
  transform: translateX(0); }

.header-menu-mobile-closer {
  text-align: end;
  padding: 0.78125vw; }

@media all and (max-width: 1024px) {
  .header-menu-mobile-closer {
    padding: 15px; } }

.header-menu-mobile-list {
  list-style: none;
  font-size: 1.5625vw;
  color: #324659; }

@media all and (max-width: 1024px) {
  .header-menu-mobile-list {
    font-size: 30px; } }

.header-menu-mobile-list li {
  padding-bottom: 0.52083vw; }

@media all and (max-width: 1024px) {
  .header-menu-mobile-list li {
    padding-bottom: 10px; } }

.header-menu-mobile-opener div {
  border-bottom: 0.15625vw solid #2B3D4B;
  margin-bottom: 0.26042vw;
  width: 1.5625vw;
  margin-right: 1.19792vw;
  display: none; }

@media all and (max-width: 1024px) {
  .header-menu-mobile-opener div {
    border-bottom: 3px solid #2B3D4B;
    margin-bottom: 5px;
    width: 30px;
    margin-right: 23px; } }

ul.header-menu, .header-menu-flex {
  list-style-type: none;
  display: flex; }

.header-menu-flex {
  margin: 0;
  padding-top: 1.875vw; }

@media all and (max-width: 1024px) {
  .header-menu-flex {
    padding-top: 36px; } }

.header-menu-link {
  color: inherit;
  text-decoration: none; }

.header-menu-flex {
  align-items: center;
  justify-content: flex-end; }

.header-menu li {
  margin-right: 1.19792vw; }

@media all and (max-width: 1024px) {
  .header-menu li {
    margin-right: 23px; } }

.header-menu-flex-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.header-menu-icon {
  margin-right: 1.19792vw; }

@media all and (max-width: 1024px) {
  .header-menu-icon {
    margin-right: 23px; } }

@media (max-width: 1024px) {
  ul.header-menu {
    display: none; }
  .header-menu-flex {
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 40px; }
  .header-menu-mobile-opener div {
    display: block; } }

.banner {
  color: #586B7A; }

.banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.25vw;
  padding: 8.85417vw 1.30208vw 2.08333vw 0; }

@media all and (max-width: 1024px) {
  .banner-info {
    font-size: 24px;
    padding: 170px 25px 40px 0; } }

.banner-info-about span {
  display: block; }

.banner-info-name h2 {
  font-size: 2.60417vw;
  font-weight: bold;
  line-height: 3.07292vw;
  margin: 0; }

@media all and (max-width: 1024px) {
  .banner-info-name h2 {
    font-size: 50px;
    line-height: 59px; } }

.banner-info-name span {
  font-size: 2.08333vw;
  line-height: 2.44792vw; }

@media all and (max-width: 1024px) {
  .banner-info-name span {
    font-size: 40px;
    line-height: 47px; } }

.banner-info-about {
  margin-top: 2.39583vw; }

@media all and (max-width: 1024px) {
  .banner-info-about {
    margin-top: 46px; } }

@media (max-width: 1200px) {
  .banner-info {
    padding: 2.8125vw 1.30208vw 2.08333vw 0; } }

@media (max-width: 1024px) {
  .banner-info-name h2 {
    font-size: 28px; }
  .banner-info-name span {
    font-size: 23px; }
  .banner-info-about {
    font-size: 19px;
    margin-top: 5px; }
  .banner-info {
    align-items: flex-start;
    padding: 25px 20px 40px 20px; } }

.about-block, .education-block, .conditions-block, .contacts-block {
  background: #D9D9D9;
  color: #324659; }

.about-block-flex {
  display: flex;
  justify-content: flex-start;
  padding: 3.69792vw 3.125vw 2.23958vw 0; }

@media all and (max-width: 1024px) {
  .about-block-flex {
    padding: 71px 60px 43px 0; } }

.about-block-flex-list {
  list-style-type: none;
  padding: 0;
  padding-top: 0.78125vw; }

@media all and (max-width: 1024px) {
  .about-block-flex-list {
    padding-top: 15px; } }

.about-block-flex-item {
  font-size: 1.04167vw; }

@media all and (max-width: 1024px) {
  .about-block-flex-item {
    font-size: 20px; } }

.about-block-flex-item-title {
  font-size: 1.19792vw;
  font-weight: 700;
  padding-bottom: 1.66667vw; }

@media all and (max-width: 1024px) {
  .about-block-flex-item-title {
    font-size: 23px;
    padding-bottom: 32px; } }

.about-block-flex-list li {
  padding-bottom: 0.52083vw; }

@media all and (max-width: 1024px) {
  .about-block-flex-list li {
    padding-bottom: 10px; } }

.about-block-flex-item-span {
  padding-top: 0.78125vw;
  display: block; }

@media all and (max-width: 1024px) {
  .about-block-flex-item-span {
    padding-top: 15px; } }

.about-block-flex img {
  object-fit: contain;
  margin-right: 15%;
  width: 20%; }

@media (max-width: 1700px) {
  .about-block-flex {
    padding-left: 3.125vw; } }

@media (max-width: 910px) {
  .about-block-flex img {
    width: 25%;
    margin-right: 5%; }
  .about-block-flex-item-title {
    padding-bottom: 0; }
  .about-block-flex-list, .about-block-flex-item-span {
    padding-top: 0; } }

@media (max-width: 650px) {
  .about-block-flex img {
    width: 100%; }
  .about-block-flex {
    flex-direction: column; } }

@media (max-width: 1024px) {
  .about-block-flex {
    padding: 71px 20px 43px 20px; } }

.education-block-flex-item {
  width: 66%; }

.education-block-flex {
  padding: 7.13542vw 0 2.29167vw 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.04167vw;
  line-height: 1.92708vw; }

@media all and (max-width: 1024px) {
  .education-block-flex {
    padding: 137px 0 44px 0;
    font-size: 20px;
    line-height: 37px; } }

.education-block-flex-item-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.04167vw; }

@media all and (max-width: 1024px) {
  .education-block-flex-item-top {
    font-size: 20px; } }

.education-item-top-left, .education-item-top-right {
  width: 45%; }

.education-item-top {
  padding-bottom: 3.28125vw;
  font-size: 1.04167vw; }

@media all and (max-width: 1024px) {
  .education-item-top {
    padding-bottom: 63px;
    font-size: 20px; } }

.education-block-flex-item-bottom h2 {
  font-size: 1.04167vw;
  font-weight: 700; }

@media all and (max-width: 1024px) {
  .education-block-flex-item-bottom h2 {
    font-size: 20px; } }

.education-block-flex-item-bottom {
  padding-top: 3.64583vw; }

@media all and (max-width: 1024px) {
  .education-block-flex-item-bottom {
    padding-top: 70px; } }

.education-block-flex img {
  object-fit: contain;
  width: 30%; }

@media (max-width: 1700px) {
  .education-block-flex {
    padding: 3.64583vw 3.125vw 1.5625vw 3.125vw; }
  .education-item-top {
    padding-bottom: 1.5625vw; }
  .education-block-flex-item-bottom {
    padding-top: 0; } }

@media (max-width: 1300px) {
  .education-block-flex img {
    display: none; }
  .education-block-flex-item {
    width: 100%; } }

@media (max-width: 760px) {
  .education-item-top-left, .education-item-top-right {
    width: 100%; } }

@media (max-width: 650px) {
  .education-block-flex img {
    display: block;
    width: 100%;
    margin-bottom: 1.5625vw; }
  .education-block-flex {
    flex-direction: column; }
  .education-item-top-left, .education-item-top-right, .education-block-flex-item-bottom, .about-block-flex-list, .education-item-top {
    font-size: 16px;
    line-height: 23px; }
  .education-item-top {
    padding-bottom: 0.52083vw; } }

@media (max-width: 1024px) {
  .education-block-flex {
    padding: 70px 20px 30px 20px; } }

.conditions-block-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 8.59375vw; }

@media all and (max-width: 1024px) {
  .conditions-block-flex {
    padding-top: 165px; } }

.conditions-block-flex-item {
  width: 36%;
  margin-bottom: 6.51042vw; }

@media all and (max-width: 1024px) {
  .conditions-block-flex-item {
    margin-bottom: 125px; } }

.conditions-block-flex-item p {
  line-height: 1.40625vw;
  font-size: 0.83333vw; }

@media all and (max-width: 1024px) {
  .conditions-block-flex-item p {
    line-height: 27px;
    font-size: 16px; } }

.conditions-block-flex-item span {
  display: block;
  margin-bottom: 0.52083vw; }

@media all and (max-width: 1024px) {
  .conditions-block-flex-item span {
    margin-bottom: 10px; } }

@media (max-width: 830px) {
  .conditions-block-flex {
    padding-top: 3.125vw; }
  .conditions-block-flex-item {
    margin-bottom: 1.82292vw; } }

@media (max-width: 630px) {
  .conditions-block-flex-item {
    width: 100%;
    margin-bottom: 0px; }
  .conditions-block-flex {
    padding: 3.125vw;
    font-size: 20px; } }

@media (max-width: 1024px) {
  .conditions-block-flex {
    padding: 60px 20px 60px 20px; } }

.contacts-block-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 74%;
  margin: 0 auto;
  padding-top: 14.0625vw; }

@media all and (max-width: 1024px) {
  .contacts-block-flex {
    padding-top: 270px;
    width: 100%; } }

.contacts-block-flex-item {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: 21%;
  font-size: 1.66667vw;
  justify-content: center; }

@media all and (max-width: 1024px) {
  .contacts-block-flex-item {
    font-size: 20px; } }

.contacts-block-flex-item span {
  width: 20.98958vw; }

@media all and (max-width: 1024px) {
  .contacts-block-flex-item span {
    width: inherit; } }

.contacts-block-flex-item img {
  margin-right: 3.22917vw; }

@media all and (max-width: 1024px) {
  .contacts-block-flex-item img {
    margin-right: 62px; } }

@media (max-width: 1500px) {
  .contacts-block-flex {
    padding-top: 7.8125vw; }
  .contacts-block-flex-item {
    margin-bottom: 13%; }
  .contacts-block-flex-item img {
    margin-right: 1.82292vw; } }

@media (max-width: 910px) {
  .contacts-block-flex-item img {
    width: 8%; }
  .contacts-block-flex-item {
    width: 100%;
    margin-bottom: 3%; }
  .contacts-block-flex {
    padding-top: 2.60417vw;
    padding-bottom: 2.60417vw; } }

@media (max-width: 910px) and (max-width: 400px) {
  .contacts-block-flex-item img {
    margin-right: 17px; } }

@media (max-width: 1024px) {
  .contacts-block-flex {
    padding: 50px 20px 50px 20px;
    margin: 0; } }

.spanB {
  display: block; }
